@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/css/index.css" />
</head>


<div style ="margin-left: 50px">
    <h1>Form parameters parsing demo</h1>
    <ul>
        <li><a href="/Parsing/SingleAction">Manual parsing in single action</a></li>
        <li><a href="/Parsing/SeparateActions">Manual parsing in separate actions</a></li>
        <li><a href="/Parsing/ModelParameters">Model binding (parameters)</a></li>
        <li><a href="/Parsing/ModelSeparate">Model binding (separate model)</a></li>
    </ul>
</div>
